.textareaWrapper * {
	box-sizing: border-box;
}

.textareaWrapper {
	width: 100%;
}

.textareaLabel {
	width: 100%;
}

.textareaContainer {
	position: relative;
	width: 100%;
	padding: var(--space-4) var(--space-6);
	border-radius: var(--radius-4);
	transition-property: background, border, color;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
}

:root[data-platform="mobile"] .textareaContainer,
:root[data-platform="tablet"] .textareaContainer {
	padding: var(--space-6) var(--space-8);
	border-radius: var(--radius-8);
}

.textareaContainer.hasCounter {
	padding-bottom: var(--size-16);
}

.textarea {
	box-sizing: border-box;
	width: 100%;
	border: none;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-lg);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	resize: none;
	transition: all 0.2s ease-in-out;
}

.textarea:focus,
.textarea:active,
.textarea:focus-visible {
	border: none;
	outline: none;
}

.textarea {
	scrollbar-width: thin;
	scrollbar-color: var(--color-input-placeholder) transparent;
}

.textarea::placeholder {
	transition: color 0.2s ease-in-out;
}

.counter {
	position: absolute;
	right: var(--space-6);
	bottom: var(--space-4);
	text-align: right;
	font-family: var(--font-family-primary);
	font-size: var(--font-size-sm);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	transition: color 0.2s ease-in-out;
}

:root[data-platform="mobile"] .counter,
:root[data-platform="tablet"] .counter {
	right: var(--space-8);
	bottom: var(--space-6);
}

/** STATES */

/* enabled = regular */

.textareaWrapper.regular .textareaContainer {
	border: 1px solid var(--color-input-border);
}

.textareaWrapper.regular .textarea::placeholder {
	color: var(--color-input-placeholder);
}

.textareaWrapper.regular .counter {
	color: var(--color-input-placeholder);
}

/* valid */
.textareaWrapper.valid .textareaContainer {
	border: 1px solid var(--color-border-success);
}

/* invalid */

.textareaWrapper.invalid .textareaContainer {
	border: 1px solid var(--color-border-error);
}

.textareaWrapper.invalid .textarea,
.textareaWrapper.invalid .textarea::placeholder {
	color: var(--color-status-error);
}

.textareaWrapper.invalid .textarea:disabled::placeholder {
	color: var(--color-input-placeholder);
}

.textareaWrapper.invalid .textarea:focus,
.textareaWrapper.invalid .textarea:focus-visible {
	color: var(--color-input-text);
}

.textareaWrapper.invalid .counter {
	color: var(--color-status-error);
}

/* disabled */

.textareaContainer:has(.textarea:disabled) {
	background: var(--color-input-bg-disabled);
}
.textarea:disabled {
	background: var(--color-input-bg-disabled);
}

.textareaContainer:has(.textarea:disabled) .counter {
	color: var(--color-input-placeholder);
}

/* Input pseudo classes */

.textareaWrapper.regular .textareaContainer:hover .textarea::placeholder {
	color: var(--color-input-placeholder-hover);
}

.textareaContainer:has(.textarea:disabled):hover .textarea::placeholder {
	color: var(--color-input-placeholder);
}
