@layer components {
	.descriptionList {
		--_padding-x: var(--descriptionlist-padding-x, var(--gap-l));
		--_row-gap: var(--descriptionlist-row-gap, var(--gap-s));
		--_column-gap: var(--descriptionlist-column-gap, var(--gap-l));
		padding: 0 var(--_padding-x);
		display: grid;
		width: 100%;
		grid-template-columns: repeat(12, 1fr);
		row-gap: var(--_row-gap);
		column-gap: var(--_column-gap);
		font-size: var(--font-size-md);
		box-sizing: border-box;
	}

	.descriptionList dt {
		--_item-py: var(--descriptionlist-item-py, var(--gap-xs));
		grid-area: auto / 1 / auto / 3;
		padding: var(--_item-py) 0;
		margin: 0;
		color: var(--color-text-secondary);
		background-color: var(--color-surface);
	}

	.descriptionList dd {
		--_item-py: var(--descriptionlist-item-py, var(--gap-xs));
		grid-area: auto / 4 / auto / 12;
		padding: var(--_item-py) 0;
		margin: 0;
		color: var(--color-text-primary);
		background-color: var(--color-surface);
		font-size: var(--font-size-lg);
		font-weight: 500;
	}

	.descriptionList.size-s dt {
		grid-area: auto / 1 / auto / 3;
	}

	.descriptionList.size-s dd {
		grid-area: auto / 3 / auto / 13;
	}

	.descriptionList.size-m dt {
		grid-area: auto / 1 / auto / 4;
	}

	.descriptionList.size-m dd {
		grid-area: auto / 4 / auto / 13;
	}

	.descriptionList.size-l dt {
		grid-area: auto / 1 / auto / 6;
	}

	.descriptionList.size-l dd {
		grid-area: auto / 6 / auto / 13;
	}
}
