.descriptionList {
	padding: 0 var(--space-8);
	display: grid;
	width: 100%;
	grid-template-columns: repeat(12, 1fr);
	row-gap: var(--space-4);
	column-gap: var(--space-8);
	font-size: var(--font-size-md);
	box-sizing: border-box;
}

.descriptionList dt {
	grid-area: auto / 1 / auto / 3;
	padding: var(--space-2) 0;
	margin: 0;
	color: var(--color-text-secondary);
	background-color: var(--color-surface);
}

.descriptionList dd {
	grid-area: auto / 4 / auto / 12;
	padding: var(--space-2) 0;
	margin: 0;
	color: var(--color-text-primary);
	background-color: var(--color-surface);
	font-size: var(--font-size-lg);
	font-weight: 500;
}

.descriptionList.size-s dt {
	grid-area: auto / 1 / auto / 3;
}

.descriptionList.size-s dd {
	grid-area: auto / 3 / auto / 13;
}

.descriptionList.size-m dt {
	grid-area: auto / 1 / auto / 4;
}

.descriptionList.size-m dd {
	grid-area: auto / 4 / auto / 13;
}

.descriptionList.size-l dt {
	grid-area: auto / 1 / auto / 6;
}

.descriptionList.size-l dd {
	grid-area: auto / 6 / auto / 13;
}
