.progressBarWrapper {
	width: 100%;
}

.progressBarHeader {
	width: 100%;
}

.value {
	color: var(--color-text-secondary);
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
}

.progressBar {
	width: 100%;
}

.progressTrack {
	width: 100%;
	border-radius: var(--radius-full);
	overflow: hidden;
	background-color: var(--color-control-track);
}

.progressValue {
	height: 100%;
	border-radius: var(--radius-full);
	background-color: var(--color-control-checked);
	transition:
		background-color 0.2s ease-in-out,
		width 0.2s ease-in-out;
}

.regular {
	color: inherit;
}

.size-s .progressTrack {
	height: var(--space-2);
}

.size-m .progressTrack {
	height: var(--space-3);
}

.size-l .progressTrack {
	height: var(--space-4);
}

.valid .progressValue {
	background-color: var(--color-status-success-border);
}

.invalid .progressValue {
	background-color: var(--color-status-error-border);
}

.progressBar:not([aria-valuenow]) .progressTrack {
	background-color: var(--color-control-track-hover);
}
