@layer components {
	.progressBarWrapper {
		--flex-gap: var(--progressbar-gap, var(--gap-xs));
		width: 100%;
	}

	.progressBarHeader {
		--flex-gap: var(--progressbar-header-gap, var(--gap-m));
		width: 100%;
	}

	.value {
		color: var(--color-text-secondary);
		font-size: var(--font-size-sm);
		line-height: var(--line-height-sm);
	}

	.progressBar {
		width: 100%;
	}

	.progressTrack {
		--_radius: var(--progressbar-radius, var(--radius-pill));
		width: 100%;
		border-radius: var(--_radius);
		overflow: hidden;
		background-color: var(--color-control-track);
	}

	.progressValue {
		--_radius: var(--progressbar-radius, var(--radius-pill));
		height: 100%;
		border-radius: var(--_radius);
		background-color: var(--color-control-checked);
		transition:
			background-color 0.2s ease-in-out,
			width 0.2s ease-in-out;
	}

	.regular {
		color: inherit;
	}

	.size-s .progressTrack {
		--_height: var(--progressbar-height, var(--gap-xs));
		height: var(--_height);
	}

	.size-m .progressTrack {
		--_height: var(--progressbar-height, var(--padding-control-y-s));
		height: var(--_height);
	}

	.size-l .progressTrack {
		--_height: var(--progressbar-height, var(--gap-s));
		height: var(--_height);
	}

	.valid .progressValue {
		background-color: var(--color-status-success-border);
	}

	.invalid .progressValue {
		background-color: var(--color-status-error-border);
	}

	.progressBar:not([aria-valuenow]) .progressTrack {
		background-color: var(--color-control-track-hover);
	}
}
