:root[data-platform="desktop"],
:root[data-platform="tablet"],
:root[data-platform="mobile"] {
	--input-checkbox-round-border-radius: var(--border-radius-2xl);
	--input-checkbox-rectangular-border-radius: var(--border-radius-s);
	--input-checkbox-marker-round-border-radius: var(--border-radius-s);
}
