.after,
.before,
.button,
.buttonContent {
	display: flex;
	justify-content: stretch;
	align-items: stretch;
}

.button {
	border: none;
	transition: color 0.2s ease-in-out;
	cursor: pointer;
	box-sizing: border-box;
}

.linkButton {
	display: inline-flex;
	text-decoration: none;
}

.buttonContent {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.buttonContentWrapper {
	width: 100%;
}

.after,
.before,
.buttonContent {
	font-family: var(--font-family-primary);
	line-height: normal;
}

/* Enabled */

.primary {
	color: var(--color-action-foreground);
	border-radius: var(--radius-8);
	background: var(--color-action-rest);
	gap: var(--space-4);
}

.secondary {
	color: var(--color-action-secondary-foreground);
	border-radius: var(--radius-8);
	background: var(--color-action-secondary-rest);
	gap: var(--space-4);
}

.tertiary {
	border-radius: var(--radius-8);
	color: var(--color-action-subtle-foreground);
	background: var(--color-action-subtle-rest);
	gap: var(--space-4);
	border: 1px solid var(--color-action-subtle-border);
	transition: border 0.2s ease-in-out;
}

.round {
	border-radius: 50%;
	color: var(--color-text-primary);
	background: var(--color-action-subtle-rest);
	border: 1px solid transparent;
	transition: background-color 0.2s ease-in-out;
}

.outlined {
	color: var(--color-action-outlined-foreground);
	background: var(--color-action-outlined-bg);
	gap: var(--space-4);
	border-radius: var(--radius-4);
	border: 1px solid var(--color-action-outlined-border);
}

.transparent {
	color: var(--color-action-transparent-foreground);
	border-radius: var(--radius-8);
	background: transparent;
	gap: var(--space-4);
}

.primary:focus,
.secondary:focus,
.tertiary:focus,
.round:focus {
	outline: var(--focus-outline);
	outline-offset: var(--focus-outline-offset);
}

.round span {
	overflow: hidden;
}

/* Disabled */

.disabled {
	pointer-events: none;
	cursor: not-allowed;
}

.primary:disabled,
.primary:disabled:hover,
.primary:disabled:active,
.primary.disabled,
.primary.disabled:hover,
.primary.disabled:active {
	background: var(--color-action-disabled);
	color: var(--color-action-foreground-disabled);
	cursor: not-allowed;
}

.secondary:disabled,
.secondary:disabled:hover,
.secondary:disabled:active,
.secondary.disabled,
.secondary.disabled:hover,
.secondary.disabled:active {
	background: var(--color-action-disabled);
	color: var(--color-action-foreground-disabled);
	cursor: not-allowed;
}

.tertiary:disabled,
.tertiary:disabled:hover,
.tertiary:disabled:active,
.tertiary.disabled,
.tertiary.disabled:hover,
.tertiary.disabled:active {
	color: var(--color-action-foreground-disabled);
	background: var(--color-action-subtle-rest);
	cursor: default;
	border-color: var(--color-action-subtle-border);
}

.round:disabled,
.round:disabled:hover,
.round:disabled:active,
.round.disabled,
.round.disabled:hover,
.round.disabled:active {
	color: var(--color-action-foreground-disabled);
	background: var(--color-action-subtle-rest);
	cursor: default;
	border-color: transparent;
}

.outlined:disabled,
.outlined:disabled:hover,
.outlined:disabled:active,
.outlined.disabled,
.outlined.disabled:hover,
.outlined.disabled:active {
	border: 1px solid var(--color-action-outlined-border);
	background: var(--color-action-disabled);
	color: var(--color-action-foreground-disabled);
	cursor: not-allowed;
}

.transparent:disabled,
.transparent:disabled:hover,
.transparent:disabled:active,
.transparent.disabled,
.transparent.disabled:hover,
.transparent.disabled:active {
	background: transparent;
	color: var(--color-action-transparent-foreground-disabled);
	cursor: not-allowed;
}

/* Hover */

.primary:hover {
	background: var(--color-action-hover);
}

.secondary:hover {
	background: var(--color-action-secondary-hover);
}

.tertiary:hover {
	background: var(--color-action-subtle-hover);
	border-color: var(--color-action-subtle-border);
}

.round:hover {
	background: var(--color-action-subtle-hover);
	border-color: transparent;
}

.outlined:hover {
	border: 1px solid var(--color-action-outlined-border);
}

.transparent:hover {
	background: transparent;
}

/* Active */

.primary:active {
	background: var(--color-action-active);
}

.secondary:active {
	background: var(--color-action-secondary-active);
}

.tertiary:active {
	background: var(--color-action-subtle-active);
	border-color: var(--color-action-subtle-border);
}

.round:active {
	background: var(--color-action-subtle-active);
	border-color: transparent;
}

.outlined:active {
	color: var(--color-action-outlined-foreground);
	border: 1px solid var(--color-action-outlined-border);
}

.transparent:active {
	background: transparent;
}

.primary .buttonContent {
	font-weight: 500;
}

.secondary .buttonContent {
	font-weight: 500;
}

.tertiary .buttonContent {
	font-weight: 500;
}

.round .buttonContent {
	font-weight: 500;
}

.outlined .buttonContent {
	font-weight: 500;
}

.stretch {
	width: 100%;
}

.primary.s,
.secondary.s,
.outlined.s,
.tertiary.s {
	padding: var(--space-3) var(--space-6);
	font-size: var(--font-size-sm);
}

.transparent.s {
	font-size: var(--font-size-sm);
	padding: var(--space-3) 0;
}

.primary.m,
.secondary.m,
.outlined.m,
.tertiary.m {
	padding: var(--space-4) var(--space-8);
	font-size: var(--font-size-md);
}

.transparent.m {
	font-size: var(--font-size-md);
	padding: var(--space-4) 0;
}

.primary.l,
.secondary.l,
.outlined.l,
.tertiary.l {
	padding: var(--space-5) var(--space-8);
	font-size: var(--font-size-lg);
}

.transparent.l {
	font-size: var(--font-size-lg);
	padding: var(--space-5) 0;
}

.round.s {
	padding: var(--space-2);
	font-size: var(--font-size-md);
}

.round.m {
	padding: var(--space-3);
	font-size: var(--font-size-lg);
}

.round.l {
	padding: var(--space-4);
}

.round.s {
	width: var(--size-12);
	height: var(--size-12);
}

.round.m {
	width: var(--size-16);
	height: var(--size-16);
}

.round.l {
	width: var(--size-24);
	height: var(--size-24);
	font-size: var(--font-size-xl);
}

.button.noPadding {
	padding: 0;
}
