{
  "presets": [
    [
      "@babel/preset-react",
      {
        "runtime": "automatic",
        "useBuiltIns": "usage"
      }
    ],
    ["@babel/preset-typescript"]
  ],
  "plugins": []
}
