.expandableText {
	position: relative;
	overflow: hidden;
}

.content {
	transition: max-height 0.3s ease-out;
}

.blurOverlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}

.defaultOverlayColor {
	background: linear-gradient(
		transparent,
		var(--expandable-text-overlay-background, #fff)
	);
}

.button {
	padding: 0;
}

.defaultButton {
	color: var(--expandable-text-default-button-color, #747e97);
}
