/** TODO: use variables */
.flex {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--space-4);
}

.flex-gap-none {
	gap: 0;
}

.flex-gap-xs {
	gap: var(--space-2);
}

.flex-gap-s {
	gap: var(--space-4);
}

.flex-gap-m {
	gap: var(--space-6);
}

.flex-gap-l {
	gap: var(--space-8);
}

.flex-gap-xl {
	gap: var(--space-10);
}

.flex-gap-2xl {
	gap: var(--space-12);
}

.flex-gap-3xl {
	gap: var(--space-14);
}

.flex-gap-4xl {
	gap: var(--space-16);
}
