:root {
	--skelleton-min-size: var(--whiteSpace-general-_5x);
	--skelleton-min-size-xs: var(--whiteSpace-general-_5x);
	--skelleton-min-size-s: var(--whiteSpace-general-1x);
	--skelleton-min-size-m: var(--whiteSpace-general-1_5x);
	--skelleton-min-size-l: var(--whiteSpace-general-2x);
	--skelleton-min-size-xl: var(--whiteSpace-general-2_5x);
	--skelleton-min-size-2xl: var(--whiteSpace-general-3x);
	--skelleton-min-size-3xl: var(--whiteSpace-general-3_5x);
	--skelleton-min-size-4xl: var(---whiteSpace-general-4x);
}
