.grid-row-gap-none {
	row-gap: 0;
}

.grid-col-gap-none {
	column-gap: 0;
}

.grid-row-gap-xs {
	row-gap: var(--space-2);
}

.grid-col-gap-xs {
	column-gap: var(--space-2);
}

.grid-row-gap-s {
	row-gap: var(--space-4);
}

.grid-col-gap-s {
	column-gap: var(--space-4);
}

.grid-row-gap-m {
	row-gap: var(--space-6);
}

.grid-col-gap-m {
	column-gap: var(--space-6);
}

.grid-row-gap-l {
	row-gap: var(--space-8);
}

.grid-col-gap-l {
	column-gap: var(--space-8);
}

.grid-row-gap-xl {
	row-gap: var(--space-10);
}

.grid-col-gap-xl {
	column-gap: var(--space-10);
}

.grid-row-gap-2xl {
	row-gap: var(--space-12);
}

.grid-col-gap-2xl {
	column-gap: var(--space-12);
}

.grid-row-gap-3xl {
	row-gap: var(--space-14);
}

.grid-col-gap-3xl {
	column-gap: var(--space-14);
}

.grid-row-gap-4xl {
	row-gap: var(--space-16);
}

.grid-col-gap-4xl {
	column-gap: var(--space-16);
}
