.avatar {
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar-size-xs {
	border-radius: var(--space-2);
	width: calc(var(--space-2) * 2);
	height: calc(var(--space-2) * 2);
}

.avatar-size-s {
	border-radius: var(--space-4);
	width: calc(var(--space-4) * 2);
	height: calc(var(--space-4) * 2);
}

.avatar-size-m {
	border-radius: var(--space-6);
	width: calc(var(--space-6) * 2);
	height: calc(var(--space-6) * 2);
}

.avatar-size-l {
	border-radius: var(--space-8);
	width: calc(var(--space-8) * 2);
	height: calc(var(--space-8) * 2);
}

.avatar-size-xl {
	border-radius: var(--space-10);
	width: calc(var(--space-10) * 2);
	height: calc(var(--space-10) * 2);
}

.avatar-size-2xl {
	border-radius: var(--space-12);
	width: calc(var(--space-12) * 2);
	height: calc(var(--space-12) * 2);
}

.avatar-size-3xl {
	border-radius: var(--space-14);
	width: calc(var(--space-14) * 2);
	height: calc(var(--space-14) * 2);
}

.avatar-size-4xl {
	border-radius: var(--space-16);
	width: calc(var(--space-16) * 2);
	height: calc(var(--space-16) * 2);
}
