.avatar {
	background-size: cover;
	background-position: center center;
	overflow: hidden;
}

.image {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.avatar-size-xs {
	border-radius: var(--avatar-size-xs, 4px);
	width: calc(var(--avatar-size-xs, 4px) * 2);
	height: calc(var(--avatar-size-xs, 4px) * 2);
}

.avatar-size-s {
	border-radius: var(--avatar-size-s, 8px);
	width: calc(var(--avatar-size-s, 8px) * 2);
	height: calc(var(--avatar-size-s, 8px) * 2);
}

.avatar-size-m {
	border-radius: var(--avatar-size-m, 12px);
	width: calc(var(--avatar-size-m, 12px) * 2);
	height: calc(var(--avatar-size-m, 12px) * 2);
}

.avatar-size-l {
	border-radius: var(--avatar-size-l, 16px);
	width: calc(var(--avatar-size-l, 16px) * 2);
	height: calc(var(--avatar-size-l, 16px) * 2);
}

.avatar-size-xl {
	border-radius: var(--avatar-size-xl, 20px);
	width: calc(var(--avatar-size-xl, 20px) * 2);
	height: calc(var(--avatar-size-xl, 20px) * 2);
}

.avatar-size-2xl {
	border-radius: var(--avatar-size-2xl, 24px);
	width: calc(var(--avatar-size-2xl, 24px) * 2);
	height: calc(var(--avatar-size-2xl, 24px) * 2);
}

.avatar-size-3xl {
	border-radius: var(--avatar-size-3xl, 28px);
	width: calc(var(--avatar-size-3xl, 28px) * 2);
	height: calc(var(--avatar-size-3xl, 28px) * 2);
}

.avatar-size-4xl {
	border-radius: var(--avatar-size-4xl, 32px);
	width: calc(var(--avatar-size-4xl, 32px) * 2);
	height: calc(var(--avatar-size-4xl, 32px) * 2);
}
