.spinner {
	width: 48px;
	height: 48px;
	border-style: solid;
	border-bottom-color: transparent;
	border-radius: 50%;
	display: inline-block;
	box-sizing: border-box;
	animation: rotation 1s linear infinite;
}

@keyframes rotation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner-size-xs {
	border-width: calc(var(--space-2) * 0.15);
	width: calc(var(--space-2) * 2);
	height: calc(var(--space-2) * 2);
}

.spinner-size-s {
	border-width: calc(var(--space-4) * 0.15);
	width: calc(var(--space-4) * 2);
	height: calc(var(--space-4) * 2);
}

.spinner-size-m {
	border-width: calc(var(--space-6) * 0.15);
	width: calc(var(--space-6) * 2);
	height: calc(var(--space-6) * 2);
}

.spinner-size-l {
	border-width: calc(var(--space-8) * 0.15);
	width: calc(var(--space-8) * 2);
	height: calc(var(--space-8) * 2);
}

.spinner-size-xl {
	border-width: calc(var(--space-10) * 0.15);
	width: calc(var(--space-10) * 2);
	height: calc(var(--space-10) * 2);
}

.spinner-size-2xl {
	border-width: calc(var(--space-12) * 0.15);
	width: calc(var(--space-12) * 2);
	height: calc(var(--space-12) * 2);
}

.spinner-size-3xl {
	border-width: calc(var(--space-14) * 0.15);
	width: calc(var(--space-14) * 2);
	height: calc(var(--space-14) * 2);
}

.spinner-size-4xl {
	border-width: calc(var(--space-16) * 0.15);
	width: calc(var(--space-16) * 2);
	height: calc(var(--space-16) * 2);
}

.spinner-mode-base {
	border-color: var(--color-text-secondary);
	border-bottom-color: transparent;
}

.spinner-mode-primary {
	border-color: var(--color-action-rest);
	border-bottom-color: transparent;
}

.spinner-mode-secondary {
	border-color: var(--color-action-secondary-rest);
	border-bottom-color: transparent;
}

.spinner-mode-tertiary {
	border-color: var(--color-action-subtle-foreground);
	border-bottom-color: transparent;
}
