@layer components {
	.spinner {
		--_radius: var(--spinner-radius, 50%);
		border-style: solid;
		border-bottom-color: transparent;
		border-radius: var(--_radius);
		display: inline-block;
		box-sizing: border-box;
		animation: rotation 1s linear infinite;
	}

	@keyframes rotation {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
	}

	.spinner-size-xs {
		--_border-width: var(--spinner-border-width, calc(var(--gap-xs) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-xs) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-s {
		--_border-width: var(--spinner-border-width, calc(var(--gap-s) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-s) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-m {
		--_border-width: var(--spinner-border-width, calc(var(--gap-m) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-m) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-l {
		--_border-width: var(--spinner-border-width, calc(var(--gap-l) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-l) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-xl {
		--_border-width: var(--spinner-border-width, calc(var(--gap-xl) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-xl) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-2xl {
		--_border-width: var(--spinner-border-width, calc(var(--gap-2xl) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-2xl) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-3xl {
		--_border-width: var(--spinner-border-width, calc(var(--gap-3xl) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-3xl) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-size-4xl {
		--_border-width: var(--spinner-border-width, calc(var(--gap-4xl) * 0.15));
		--_size: var(--spinner-size, calc(var(--gap-4xl) * 2));
		border-width: var(--_border-width);
		width: var(--_size);
		height: var(--_size);
	}

	.spinner-mode-base {
		border-color: var(--color-text-secondary);
		border-bottom-color: transparent;
	}

	.spinner-mode-primary {
		border-color: var(--color-action-rest);
		border-bottom-color: transparent;
	}

	.spinner-mode-secondary {
		border-color: var(--color-action-secondary-rest);
		border-bottom-color: transparent;
	}

	.spinner-mode-tertiary {
		border-color: var(--color-action-subtle-foreground);
		border-bottom-color: transparent;
	}
}
