:root[data-platform="desktop"],
:root[data-platform="tablet"] {
	--dropdown-position: absolute;
}

:root[data-platform="mobile"] {
	--dropdown-position: fixed;
}

:root[data-theme="light"] {
	--dropdown-overlay-background-color: var(--palette-alpha-black-50);
}

:root[data-theme="dark"] {
	--dropdown-overlay-background-color: var(--palette-alpha-white-30);
}
