.dropdownContainer {
	position: relative;
	display: inline-block;
}

.dropdown {
	z-index: 1000;
	box-sizing: border-box;
	outline: none;
}

.dialog {
	outline: none;
}

.bottom,
.top,
.left,
.right {
	color: inherit;
}

.stretch {
	width: 100%;
}
