:root[data-brand="words-control"] {
	/* typo */
	--font-family: "Roboto", sans-serif;
	--font-family-secondary: "Roboto", sans-serif;
	--font-size-xs: 0.625rem;
	--font-size-s: 0.75rem;
	--font-size-m: 0.875rem;
	--font-size-l: 1rem;
	--font-size-xl: 1.25rem;
	--font-size-2xl: 1.5rem;
	--font-size-3xl: 2rem;
	--font-size-4xl: 2.5rem;
	--font-size-5xl: 3rem;
	--font-size-6xl: 3.75rem;

	/* palette */
	/* primary */
	--palette-primary-1000: color-mix(
		in srgb,
		var(--palette-primary-800),
		black 20%
	);
	--palette-primary-900: color-mix(
		in srgb,
		var(--palette-primary-800),
		black 10%
	);
	--palette-primary-800: rgba(39, 44, 46, 1);
	--palette-primary-700: rgba(56, 63, 65, 1);
	--palette-primary-600: rgba(96, 101, 103, 1);
	--palette-primary-500: rgba(136, 140, 141, 1);
	--palette-primary-400: rgba(175, 178, 179, 1);
	--palette-primary-300: rgba(215, 217, 217, 1);
	--palette-primary-200: rgba(235, 236, 236, 1);
	--palette-primary-100: rgba(245, 245, 246, 1);
	--palette-primary-50: rgba(245, 245, 246, 1);

	/* secondary */
	--palette-secondary-1000: color-mix(
		in srgb,
		var(--palette-secondary-500),
		black 50%
	);
	--palette-secondary-900: color-mix(
		in srgb,
		var(--palette-secondary-500),
		black 40%
	);
	--palette-secondary-800: color-mix(
		in srgb,
		var(--palette-secondary-500),
		black 30%
	);
	--palette-secondary-700: color-mix(
		in srgb,
		var(--palette-secondary-500),
		black 20%
	);
	--palette-secondary-600: color-mix(
		in srgb,
		var(--palette-secondary-500),
		black 10%
	);
	--palette-secondary-500: rgba(102, 8, 22, 1);
	--palette-secondary-400: rgba(133, 57, 69, 1);
	--palette-secondary-300: rgba(163, 107, 115, 1);
	--palette-secondary-200: rgba(194, 156, 162, 1);
	--palette-secondary-100: rgba(224, 206, 208, 1);
	--palette-secondary-50: rgba(240, 230, 232, 1);

	--palette-tertiary-50: rgba(243, 238, 245, 1);
	--palette-tertiary-100: color-mix(
		in srgb,
		var(--palette-tertiary-200),
		white 10%
	);
	--palette-tertiary-200: rgba(164, 96, 188, 1);
	--palette-tertiary-300: rgba(104, 59, 120, 1);
	--palette-tertiary-400: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 10%
	);
	--palette-tertiary-500: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 20%
	);
	--palette-tertiary-600: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 30%
	);
	--palette-tertiary-700: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 40%
	);
	--palette-tertiary-800: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 50%
	);
	--palette-tertiary-900: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 60%
	);
	--palette-tertiary-1000: color-mix(
		in srgb,
		var(--palette-tertiary-300),
		black 70%
	);

	--palette-active-50: var(--palette-primary-500);
	--palette-active-100: var(--palette-primary-1000);
	--palette-active-200: var(--palette-primary-200);
	--palette-active-300: var(--palette-primary-300);
	--palette-active-400: var(--palette-primary-400);
	--palette-active-500: var(--palette-primary-500);
	--palette-active-600: var(--palette-primary-600);
	--palette-active-700: var(--palette-primary-700);
	--palette-active-800: var(--palette-primary-800);
	--palette-active-900: var(--palette-primary-900);
	--palette-active-1000: var(--palette-primary-1000);

	--palette-semantic-success-100: rgba(247, 255, 230, 1);
	--palette-semantic-success-200: rgba(210, 242, 155, 1);
	--palette-semantic-success-300: rgba(182, 230, 110, 1);
	--palette-semantic-success-400: rgba(153, 217, 69, 1);
	--palette-semantic-success-500: rgba(124, 204, 33, 1);
	--palette-semantic-success-600: rgba(96, 192, 0, 1);
	--palette-semantic-success-700: rgba(71, 153, 0, 1);
	--palette-semantic-success-800: rgba(50, 115, 0, 1);
	--palette-semantic-success-900: rgba(31, 77, 0, 1);
	--palette-semantic-success-1000: rgba(14, 38, 0, 1);

	--palette-semantic-information-100: rgba(232, 253, 255, 1);
	--palette-semantic-information-200: rgba(191, 249, 255, 1);
	--palette-semantic-information-300: rgba(150, 241, 255, 1);
	--palette-semantic-information-400: rgba(110, 231, 255, 1);
	--palette-semantic-information-500: rgba(69, 218, 255, 1);
	--palette-semantic-information-600: rgba(27, 200, 255, 1);
	--palette-semantic-information-700: rgba(13, 162, 217, 1);
	--palette-semantic-information-800: rgba(2, 125, 179, 1);
	--palette-semantic-information-900: rgba(0, 94, 140, 1);
	--palette-semantic-information-1000: rgba(0, 65, 102, 1);

	--palette-semantic-warning-50: rgba(254, 227, 173, 1);
	--palette-semantic-warning-100: rgba(254, 227, 173, 1);
	--palette-semantic-warning-200: color-mix(
		in srgb,
		var(--palette-semantic-warning-300),
		white 10%
	);
	--palette-semantic-warning-300: rgba(240, 151, 0, 1);
	--palette-semantic-warning-400: rgba(204, 102, 0, 1);
	--palette-semantic-warning-500: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 10%
	);
	--palette-semantic-warning-600: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 20%
	);
	--palette-semantic-warning-700: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 30%
	);
	--palette-semantic-warning-800: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 40%
	);
	--palette-semantic-warning-900: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 50%
	);
	--palette-semantic-warning-1000: color-mix(
		in srgb,
		var(--palette-semantic-warning-400),
		black 60%
	);

	--palette-semantic-error-50: rgba(255, 242, 242, 1);
	--palette-semantic-error-100: rgba(254, 202, 202, 1);
	--palette-semantic-error-200: color-mix(
		in srgb,
		var(--palette-semantic-error-300),
		white 10%
	);
	--palette-semantic-error-300: rgba(218, 33, 33, 1);
	--palette-semantic-error-400: rgba(191, 0, 13, 1);
	--palette-semantic-error-500: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 10%
	);
	--palette-semantic-error-600: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 20%
	);
	--palette-semantic-error-700: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 30%
	);
	--palette-semantic-error-800: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 40%
	);
	--palette-semantic-error-900: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 50%
	);
	--palette-semantic-error-1000: color-mix(
		in srgb,
		var(--palette-semantic-error-400),
		black 60%
	);

	/* ers-palette */
	--palette-base-0: rgba(255, 255, 255, 1);
	--palette-base-50: rgba(251, 251, 251, 1);
	--palette-base-100: rgba(245, 245, 245, 1);
	--palette-base-200: rgba(230, 231, 231, 1);
	--palette-base-300: rgba(216, 217, 217, 1);
	--palette-base-400: rgba(123, 132, 132, 1);
	--palette-base-500: rgba(75, 79, 79, 1);
	--palette-base-600: rgba(34, 38, 38, 1);
	--palette-base-700: rgba(24, 28, 28, 1);
	--palette-base-800: rgba(14, 18, 18, 1);
	--palette-base-900: rgba(0, 12, 11, 1);
	--palette-base-1000: black;

	--input-regular-border: rgba(0, 0, 0, 0.12);
	/* sizes */
	--whiteSpace-general-_25x: 0.13rem;
	--whiteSpace-general-_5x: 0.25rem;
	--whiteSpace-general-1x: 0.5rem;
	--whiteSpace-general-1_5x: 0.75rem;
	--whiteSpace-general-2x: 1rem;
	--whiteSpace-general-2_5x: 1.25rem;
	--whiteSpace-general-3x: 1.5rem;
	--whiteSpace-general-3_5x: 1.75rem;
	--whiteSpace-general-4x: 2rem;
	--whiteSpace-general-6x: 3rem;
	--whiteSpace-general-8x: 4rem;
	--whiteSpace-general-9x: 4.5rem;
	--whiteSpace-general-12x: 6rem;
	--whiteSpace-general-14x: 7rem;
	--whiteSpace-general-16x: 8rem;
	--borderRadius-general-_25x: 0.06rem;
	--borderRadius-general-_5x: 0.13rem;
	--borderRadius-general-1x: 0.25rem;
	--borderRadius-general-1_5x: 0.38rem;
	--borderRadius-general-2x: 0.5rem;
	--borderRadius-general-3x: 0.75rem;
	--borderRadius-general-4x: 1rem;
	--borderRadius-general-5x: 1.25rem;
	--borderRadius-general-6x: 1.5rem;
	--borderRadius-general-8x: 2rem;
	--borderRadius-general-9x: 2.25rem;
	--borderRadius-general-12x: 3rem;
	--borderRadius-general-14x: 3.5rem;
	--borderRadius-general-16x: 4rem;
	--size-general-_25x: 0.13rem;
	--size-general-_5x: 0.25rem;
	--size-general-_75x: 0.375rem;
	--size-general-1x: 0.5rem;
	--size-general-1_5x: 0.75rem;
	--size-general-2x: 1rem;
	--size-general-2_5x: 1.25rem;
	--size-general-3x: 1.5rem;
	--size-general-3_5x: 1.75rem;
	--size-general-4x: 2rem;
	--size-general-5x: 2.5rem;
	--size-general-6x: 3rem;
	--size-general-8x: 4rem;
	--size-general-9x: 4.5rem;
	--size-general-12x: 6rem;
	--size-general-14x: 7rem;
	--size-general-16x: 8rem;

	/* button padding - should be in webdesktop.css */
	--button-padding-vertical-s: 0.375rem;
	--button-padding-vertical-m: 0.5rem;
	--button-padding-vertical-l: 0.625rem;
	--button-padding-horizontal-s: 0.75rem;
	--button-padding-horizontal-m: 1rem;
	--button-padding-horizontal-l: 1rem;
	--button-padding-tertiary-s: 0.25rem;
	--button-padding-tertiary-m: 0.375rem;
	--button-padding-tertiary-l: 0.5rem;
}

html {
	font-size: 16px;
	font-family: var(--font-family);
}
