.day {
	width: var(--space-20);
	height: var(--space-20);
	border-radius: 50%;
	font-weight: 500;
}

.selected {
	background-color: var(--palette-base-1000);
	color: var(--color-surface);
}

.day.selected:hover {
	background-color: var(--palette-base-900);
}

.today {
	background-color: var(--palette-success-700);
	color: var(--color-surface);
}

.day.today:hover {
	background-color: var(--palette-success-600);
}
