.inputContainer {
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: flex;
}

/* Styled radio button */
.inputContainer input[type="radio"] {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	margin: 0;
	border: 1px solid var(--input-radio-unchecked-outline-enabled, #bfbfbf);
	background: var(
		--input-radio-unchecked-background-enabled,
		rgba(255, 255, 255, 0)
	);
	border-radius: 50%;
	appearance: none; /* Hide the browser's default radio button */
	background-color: transparent;
	outline: none;
	vertical-align: middle;
}

.inputContainer input[type="radio"]:not(:disabled):checked {
	border: 1px solid var(--input-radio-checked-background-enabled, #0075ff);
	background-color: var(--input-radio-checked-background-enabled, #0075ff);
}

/* Show the indicator (dot/circle) when checked */
.inputContainer input[type="radio"]:not(:disabled):checked:before {
	display: flex;
	background: var(--input-radio-checked-icon-enabled, #fff);
}

/* Style the indicator (dot/circle) */
.inputContainer input[type="radio"]:not(:disabled):checked:before {
	content: "";
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: var(--input-radio-checked-icon-enabled, #fff);
}

.inputContainer input[type="radio"].regular,
.inputContainer input[type="radio"].active {
	border: 1px solid var(--input-radio-checked-background-enabled, #0075ff);
}

/* valid = active*/
.inputContainer input[type="radio"].active {
	border: 1px solid var(--input-radio-checked-background-enabled, #0075ff);
}

.inputContainer input[type="radio"].valid,
.inputContainer input[type="radio"]:active {
	border: 1px solid var(--input-radio-checked-background-enabled, #0075ff);
}

/* invalid  */
.inputContainer input[type="radio"].invalid,
.inputContainer input[type="radio"].invalid:hover {
	border: 1px solid var(--input-radio-unchecked-outline-invalid, #dc2020);
	background: var(
		--input-radio-unchecked-background-invalid,
		rgba(255, 255, 255, 0)
	);
}

.inputContainer input[type="radio"]:checked.invalid,
.inputContainer input[type="radio"]:checked.invalid:hover {
	border: 1px solid var(--input-radio-unchecked-outline-invalid, #dc2020);
	background: var(--input-radio-unchecked-outline-invalid, #dc2020);
}

/* disabled */
.inputContainer input[type="radio"]:disabled,
.inputContainer input[type="radio"]:disabled:checked,
.inputContainer input[type="radio"]:disabled:checked:hover,
.inputContainer input[type="radio"]:disabled:hover,
.inputContainer input[type="radio"]:disabled:active {
	border: 1px solid var(--input-radio-unchecked-outline-disabled, #bfbfbf);
	background: var(--input-radio-unchecked-background-disabled, #bfbfbf);
	cursor: no-drop;
}

/* hover  */
/* hover unchecked */
.inputContainer input[type="radio"]:hover {
	border: 1px solid var(--input-radio-unchecked-outline-hover, #8c8c8c);
	background: var(
		--input-radio-unchecked-background-hover,
		rgba(255, 255, 255, 0)
	);
}

/* hover checked */
.inputContainer input[type="radio"]:hover:checked {
	border: 1px solid var(--input-radio-checked-background-hover, #0047b3);
	background: var(--input-radio-checked-background-hover, #0047b3);
}

/* focus */
.inputContainer input[type="radio"]:focus {
	border: 1px solid var(--input-radio-checked-background-active, #0047b3);
	background: var(--input-radio-checked-background-active, #0047b3);
}

/* active */
.inputContainer input[type="radio"]:active {
	border: 1px solid var(--input-radio-checked-background-active, #0047b3);
}
