.fieldDescription {
	color: var(--color-text-secondary);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-md);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.fieldDescription.regular {
	color: var(--color-text-secondary);
}

.fieldDescription.valid {
	color: var(--color-text-secondary);
}

.fieldDescription.invalid {
	color: var(--color-status-error);
}
