.inputWrapper {
	max-width: 100%;
}

.inputWrapper.regular {
	color: var(--color-input-text);
}

.inputWrapper.invalid {
	color: var(--color-status-error);
}

.inputWrapper.valid {
	color: var(--color-status-success);
}

.filesList {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	max-width: 50%;
}
