.checkboxWrapper {
	pointer-events: all;
}

.checkboxContainer {
	position: relative;
}

.Checkbox {
	display: inline-flex;
	align-items: center;
	gap: var(--space-6);
	cursor: pointer;
}

.customCheckboxBox {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: var(--space-8);
	height: var(--space-8);
	border: 1px solid var(--color-control-outline);
	border-radius: var(--radius-2);
	box-sizing: border-box;
}

.customCheckboxIcon {
	display: none;
	color: var(--color-control-thumb);
	pointer-events: none;
}

.Checkbox[data-selected] .customCheckboxIcon,
.Checkbox[data-indeterminate] .customCheckboxIcon {
	display: inline-flex;
}

.Checkbox[data-focus-visible] .customCheckboxBox {
	outline: var(--space-1) solid var(--color-focus-ring);
	outline-offset: var(--space-2);
}

.checkboxWrapper.regular .Checkbox[data-hovered] .customCheckboxBox {
	border-color: var(--color-control-outline-hover);
}

.checkboxWrapper.regular .Checkbox[data-selected] .customCheckboxBox {
	background-color: var(--color-control-checked);
	border-color: var(--color-control-checked);
}

.checkboxWrapper.regular
	.Checkbox[data-selected][data-hovered]
	.customCheckboxBox {
	background-color: var(--color-control-checked-hover);
	border-color: var(--color-control-checked-hover);
}

.checkboxWrapper.valid .customCheckboxBox {
	border-color: var(--color-control-checked);
}

.checkboxWrapper.valid .Checkbox[data-selected] .customCheckboxBox {
	background-color: var(--color-control-checked);
	border-color: var(--color-control-checked);
}

.checkboxWrapper.invalid .customCheckboxBox {
	border-color: var(--color-border-error);
}

.checkboxWrapper.invalid .Checkbox[data-selected] .customCheckboxBox {
	background-color: transparent;
}

.checkboxWrapper.invalid .customCheckboxIcon {
	color: var(--color-status-error);
}

.Checkbox[data-disabled] {
	cursor: default;
}

.Checkbox[data-disabled] .customCheckboxBox,
.Checkbox[data-selected][data-disabled] .customCheckboxBox {
	background-color: var(--color-action-disabled);
	border-color: transparent;
}
