.step-progress-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.step-progress-item {
	margin: 0;
	padding: var(--space-2) var(--space-4);
	border-style: solid;
	border-width: 0;
	border-radius: var(--radius-2);
}

.step-progress-mode-pending {
	border-color: var(--color-surface-overlay);
	background-color: var(--color-surface-overlay);
	color: var(--color-surface-overlay);
}

.step-progress-label {
	color: var(--color-surface-overlay);
	font-weight: 500;
}

.step-progress-mode-info {
	border-color: transparent;
	background-color: var(--color-status-info-surface);
	color: var(--color-status-info);
}

.step-progress-label-mode-info {
	color: var(--color-status-info-border);
}

.step-progress-mode-warning {
	border-color: transparent;
	background-color: var(--color-status-warning-surface);
	color: var(--color-status-warning);
}

.step-progress-label-mode-warning {
	color: var(--color-status-warning-border);
}

.step-progress-mode-error {
	border-color: transparent;
	background-color: var(--color-status-error-surface);
	color: var(--color-status-error);
}

.step-progress-label-mode-error {
	color: var(--color-status-error-border);
}

.step-progress-mode-success {
	border-color: transparent;
	background-color: var(--palette-success-600);
	color: var(--color-status-success-surface);
}

.step-progress-label-mode-success {
	color: var(--palette-success-600);
}
