.pagination {
	padding: var(--space-5) var(--space-6);
}

.paginationContent {
	width: 100%;
}

.rowsPerPage {
	min-width: var(--size-64);
}

.rowsPerPageLabel,
.pages {
	font-size: var(--font-size-sm);
	line-height: var(--line-height-sm);
	white-space: nowrap;
}

.rowsPerPageSelect {
	min-width: var(--size-32);
}

.pageControls {
	margin-left: auto;
}
