@layer components {
	.selectionCell {
		width: var(--_selection-size, var(--data-grid-selection-size, var(--size-control-l)));
		padding: var(--gap-s);
	}

	.checkboxCell {
		width: 100%;
		min-height: var(--size-control-s);
	}

	.cell {
		padding: var(--_padding-y, var(--data-grid-padding-y, var(--padding-control-y-l)))
			var(--_padding-x, var(--data-grid-padding-x, var(--gap-m)));
		color: var(--color-text-secondary);
		font-size: var(--font-size-sm);
		font-weight: 400;
		line-height: var(--line-height-sm);
		text-align: left;
		vertical-align: middle;
		word-break: break-word;
	}

	.rowHeaderCell {
		color: var(--color-text-primary);
		font-weight: 500;
	}

	.visuallyHidden {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		white-space: nowrap;
		border: 0;
	}
}
