.dataGridContainer {
	width: 100%;
	min-height: 100%;
	font-family: var(--font-family-primary);
}

.dataGridTable table {
	border-collapse: collapse;
	width: 100%;
	word-wrap: break-word;
	table-layout: fixed;
}

.dataGridTable thead th,
.dataGridTable tfoot td {
	vertical-align: top;
	background: var(--color-surface-overlay);
	padding: var(--space-8) var(--space-4);
}

.dataGridTable thead th:nth-child(1) {
	border-top-left-radius: var(--radius-12);
	border-bottom-left-radius: var(--radius-12);
}

.dataGridTable thead th:nth-last-child(1) {
	border-top-right-radius: var(--radius-12);
	border-bottom-right-radius: var(--radius-12);
}

.dataGridTable tfoot td:nth-child(1) {
	border-top-left-radius: var(--radius-12);
	border-bottom-left-radius: var(--radius-12);
}

.dataGridTable tfoot td:nth-last-child(1) {
	border-top-right-radius: var(--radius-12);
	border-bottom-right-radius: var(--radius-12);
}

.dataGridTable tbody tr {
	transition: background-color 0.2s linear;
}

.dataGridTable tbody tr:hover {
	background-color: var(--color-surface-overlay);
}

.dataGridTable tbody td {
	color: var(--color-text-secondary);
	padding: var(--space-4) var(--space-4);
}

.loadMoreTrigger {
	display: block;
}

.loadingSpinner {
	padding: var(--space-4);
}
