.caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--space-4);
	font-family: var(--font-family-primary);
	font-size: var(--font-size-md);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.caption.valid {
	color: var(--color-text-secondary);
}

.caption.invalid {
	color: var(--color-status-error);
}
