.caption {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	gap: var(--input-field-whiteSpace-label-gap);
	font-family: var(--font-family);
	font-size: var(--font-size-m);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.caption.valid {
	color: var(--input-field-valid-font-color, #747e97);
}

.caption.invalid {
	color: var(--input-field-invalid-assistive-font-color, #dc2020);
}
